<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Categorias</span>     
        <mat-icon >search</mat-icon>
            <input type="text" placeholder="¿Qué estás buscando?" (change)="obtenerProductos()" [formControl]="filtro">
    </mat-toolbar>
</p>
<p *ngIf="products.length > 0" >
    Resultados para <strong>{{filtro.value}}</strong>
</p>
<mat-grid-list cols="3" rowHeight="2:1">
    <div *ngFor="let product of products">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-content>
                    <img mat-card-md-image src="http://{{product.image}}" alt="{{product.description}}">
                    <p>
                        <strong>Descripción:</strong> {{product.description}}
                    </p>
                    <p>
                        <strong>Marca:</strong> {{product.brand}}
                    </p>
                    <p>
                        <strong>Valor:</strong> {{product.price}} 
                    </p>
                    <p *ngIf="isPalindromo" >-50%</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>